body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

div.banner img.img-responsive {
  width: 100%; /* Justify banner with edges. */
}

div.featured-work img.img-responsive {
  margin: 0 auto;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin: 20px;
}

hr.header-separator {
  border-width: 5px;
  border-color: #bcbbbb;
}

.modal-header {
  text-align: center;
}

.modal-body img {
  margin: 0 auto;
}

.modal-body p {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 10px;
}
