$logo-width: 100px;
$logo-height: 100px;

$font-stack: 'Lato', sans-serif;
$primary-color: #747704;
$primary-font-weight: 300;

$banner-margin-bottom: 1em;

$intro-text-first-line-size: 2em;

$featured-work-bottom-pad: 3em;

$font-thin-weight: 100;
$font-muted-color: #bcbbbb;
$font-super-size: 60px;

$title-logo-margin: 20px;

$header-seperator-width: 5px;

$modal-body-max-height: 70vh;

$modal-header-text-align: center;
$modal-body-p-max-width: 360px;
$modal-body-p-margin-top: 10px;
